body{
    font-family: Helvetica, sans-serif;
    background-image: url(assets/images/fondo.png);
    background-size: contain;
    background-repeat: repeat;
    font-size: 18px;
}

.div-container{
    max-width: 768px;
    border: solid 8px #00a498;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.15);
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
}

.div-header {
    text-align: center;
    display:inline;

}

.foto-perfil{
    width: 180px;
    border: solid 4px #00a498;
}

.div-header-text{
    border: solid 4px #00a498;
    border-style: dashed;
}

.header-text-about{
    text-align: left;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 24px;
}


$height: 36px;
$halfheight: ($height/2);
$thickness: 110%; // increase to make the line thicker
$offset: 4px;
$backgroundcolor: #FFF;
$linecolor: #00a498;


.zig-zag {
  margin: 7.5% 0;
  margin-left: -15px;
  margin-right: -15px;
  background: $backgroundcolor;
  position: relative;
  height: $height;
  z-index: 1;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
      right: 0;
  }
  &:before {
    height: ($height - $offset);
    top: $thickness;
    background: linear-gradient(-135deg, $linecolor $halfheight, transparent 0) 0 $halfheight, linear-gradient( 135deg, $linecolor $halfheight, transparent 0) 0 $halfheight;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: $height $height;
  }
  &:after {
    height: $height;
    top: 100%;
    background: linear-gradient(-135deg, $backgroundcolor $halfheight, transparent 0) 0 $halfheight, linear-gradient( 135deg, $backgroundcolor $halfheight, transparent 0) 0 $halfheight;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: $height $height;
  }
}



h4 {
    color:#00a498;
    font-style: italic;
    font-size: 24px;
}

.color-block{
    background-color: #00a498;
    color: white;
    display: inline-block;
    width: 45%;
    margin: 5px;
    padding: 10px;
}
.color-block a{

    color:white;
}

a{
    text-decoration: none;
    color: black;
}

.icon-estandar{
    width: 50px;
    padding: 15px;
}


.div-footer-contect{
    margin: 0 auto;
    text-align: left;
}

.contact-text{
    font-size: 24px;
    line-height: 46px;
}

.footer-icon{
width: 35px;
    padding-right: 10px;
}