body {
  font-family: Helvetica, sans-serif;
  background-image: url(assets/images/fondo.png);
  background-size: contain;
  background-repeat: repeat;
  font-size: 18px;
}

.separator {
  margin-top: 40px;
}

.div-container {
  max-width: 768px;
  border: solid 8px #00a498;
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  margin-top: 50px;
  background-color: white;
}

.div-header {
  text-align: center;
  display: inline;
}

.foto-perfil {
  width: 180px;
  border: solid 4px #00a498;
  max-height:250px;
}

.boder-block {
  border-right: 2px solid $corporate_color;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}




.zig-zag {
  margin: 7.5% 0;
  margin-left: -15px;
  margin-right: -15px;
  background: $backgroundcolor;
  position: relative;
  height: $height;
  z-index: 1;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
      right: 0;
  }
  &:before {
    height: ($height - $offset);
    top: $thickness;
    background: linear-gradient(-135deg, $linecolor $halfheight, transparent 0) 0 $halfheight, linear-gradient( 135deg, $linecolor $halfheight, transparent 0) 0 $halfheight;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: $height $height;
  }
  &:after {
    height: $height;
    top: 100%;
    background: linear-gradient(-135deg, $backgroundcolor $halfheight, transparent 0) 0 $halfheight, linear-gradient( 135deg, $backgroundcolor $halfheight, transparent 0) 0 $halfheight;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: $height $height;
  }
}



h4 {
    color:$corporate_color;
    font-style: italic;
    font-size: 24px;
}

.color-block{
    background-color: $corporate_color;
    color: white;
    display: inline-block;
    margin: 5px;
    padding: 10px;
}
.color-block a{

    color:white;
}

a{
    text-decoration: none;
    color: black;
}

.icon-estandar{
    max-width: 100%;
}


.div-footer-contect{
    margin: 0 auto;
    text-align: left;
}

.contact-text{
    font-size: 24px;
    line-height: 46px;
}

.footer-icon{
width: 35px;
    padding-right: 10px;
}

.sub{
  font-size:0.8em;
}

.margin-top-mobile{
  margin-top: 1rem;
}
  .center-all {
    text-align: center;
  }

  
@media only screen and (max-width: 728px) {
.separator-mobile {
  margin-top: 40px;
}
  .center {
    text-align: center;
  }
  .div-container {
    margin-top: 0px;
  }
  .header-mobile {
    text-align: center;
  }
  .div-header-text-mobile {
    border: solid 4px $corporate_color;
    border-style: dashed;
    text-align: center;
  }
  .div-header-text {
    border: solid 0px;
    text-align: center;
  }
  .boder-block {
    border-right: 0px;
  }
  .icon-estandar{
    max-width:50px;
    margin-bottom:15px;
  }
}

@media only screen and (min-width: 728px) {
  .div-header-text {
    border: solid 4px $corporate_color;
    border-style: dashed;
  }
  .header-text-about {
    text-align: left;
  }
}

